[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
asn1crypto = "*"
attrs = "*"
certifi = "*"
cffi = "*"
chardet = "*"
constantly = "*"
cryptography = "*"
cssselect = "*"
elasticsearch = "*"
elasticsearch-dsl = "*"
hyperlink = "*"
idna = "*"
incremental = "*"
ipaddress = "*"
lxml = "*"
parsel = "*"
pyasn1 = "*"
pyasn1-modules = "*"
pycparser = "*"
pydispatcher = "*"
pyexecjs = "*"
python-dateutil = "*"
queuelib = "*"
redis = "*"
requests = "*"
requests-toolbelt = "*"
scrapy = "*"
selenium = "*"
service-identity = "*"
six = "*"
twisted = "*"
urllib3 = "*"
w3lib = "*"
"zope.interface" = "*"
Automat = "*"
PyHamcrest = "*"
PyMouse = "*"
pyOpenSSL = "*"

[requires]
python_version = "3.7"
